/.modman/
/app/*
/bin/*
/dev/*
/bin/*
/lib/*
/phpserver/*
/setup/*
/update/*
/.github/*
/pub/.user.ini
/pub/cron.php
/pub/get.php
/pub/health_check.php
/pub/index.php
/pub/static.php
/pub/opt/magento/var/resource_config.json
/pub/errors/*
/.htaccess
/.htaccess.sample
/.php_cs.dist
/.travis.yml
/.user.ini
/auth.json.sample
/CHANGELOG.md
/COPYING.txt
/grunt-config.json.sample
/Gruntfile.js.sample
/index.php
/LICENSE.txt
/LICENSE_AFL.txt
/nginx.conf.sample
/package.json.sample
/php.ini.sample

#!/pub/media/attribute/.htaccess
#!/pub/media/catalog/.htaccess
#!/pub/media/customer/.htaccess
#!/pub/media/downloadable/.htaccess
#!/pub/media/import/.htaccess
#!/pub/media/theme_customization/.htaccess
#!/pub/media/wysiwyg/.htaccess
#!/pub/media/tmp/.htaccess
#!/var/.htaccess
#!/vendor/.htaccess
#!/generated/.htaccess
